{% extends'layout.html.twig' %}

{% block content %}

    <br />
    <div class="container is-fluid">
        <div class="card">
            <header class="card-header" style="background-color: #A4A4A4">
                <p class="card-header-title is-size-7">
                    <i class="icon fa fa-tags fa-fw"></i> Categoria de Custos
                </p>

            </header>
            <div class="card-content">
                <div class="content">
                    Edição
                    {% set action = route('category-costs.update',{'id':category.id})%}
                    {% set submitIcon = 'pencil' %}
                    {% include 'category-costs/_form.html.twig' %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}