<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PB Financas</title>
    <!--
    <link rel="stylesheet" href="https://use.fontawesome.com/da30b9a95d.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    -->
    <link rel="stylesheet" href="/assets/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/bulma.css">
    <link rel="stylesheet" href="/assets/css/baloon.css">
    <script>
        function formatar(mascara, documento){
            var i = documento.value.length;
            var saida = mascara.substring(0,1);
            var texto = mascara.substring(i)

            if (texto.substring(0,1) != saida){
                documento.value += texto.substring(0,1);
            }

        }
    </script>
</head>
<body>
{% if Auth.check() %}
<nav class="navbar is-dark is-size-7">
    <div class="navbar-brand">
        <a class="navbar-item" href="http://bulma.io">
            <i class="icon fa fa-leaf fa-fw" style="color: green;"></i> PB Finan
        </a>

        <div class="navbar-burger burger" data-target="navMenuTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navMenuTransparentExample" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item">
                <i class="icon fa fa-home fa-fw"></i>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link  is-active" href="/documentation/overview/start/">
                    Menu 01
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item " href="/documentation/overview/start/">
                        Sub 01
                    </a>
                    <a class="navbar-item " href="http://bulma.io/documentation/modifiers/syntax/">
                        Sub 02
                    </a>
                    <a class="navbar-item " href="http://bulma.io/documentation/columns/basics/">
                        Sub 03
                    </a>
                    <a class="navbar-item " href="http://bulma.io/documentation/layout/container/">
                        Sub 04
                    </a>
                    <a class="navbar-item " href="http://bulma.io/documentation/form/general/">
                        Sub 05
                    </a>
                    <a class="navbar-item " href="http://bulma.io/documentation/elements/box/">
                        Sub 06
                    </a>
                    <a class="navbar-item " href="http://bulma.io/documentation/elements/box/">
                        Sub 06
                    </a>
                    <hr class="navbar-divider">
                    <div class="navbar-item">
                        <div>
                            <p class="is-size-6-desktop">
                                <strong>0.6.0</strong>
                            </p>

                            <small>
                                <a class="bd-view-all-versions" href="http://versions.bulma.io/">View all versions</a>
                            </small>

                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link " href="http://bulma.io/blog/">
                    Menu 02
                </a>
                <div id="blogDropdown" class="navbar-dropdown is-boxed" data-style="width: 18rem;">

                    <a class="navbar-item" href="/2017/10/09/roses-are-red-links-are-blue/">
                        <div class="navbar-content">
                            <p>
                                <small class="has-text-link">09 Oct 2017</small>
                            </p>
                            <p>Roses are red – Links are blue</p>
                        </div>
                    </a>

                    <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                        <div class="navbar-content">
                            <p>
                                <small class="has-text-link">03 Aug 2017</small>
                            </p>
                            <p>New feature: list of tags</p>
                        </div>
                    </a>

                    <a class="navbar-item" href="/2017/08/01/bulma-bootstrap-comparison/">
                        <div class="navbar-content">
                            <p>
                                <small class="has-text-link">01 Aug 2017</small>
                            </p>
                            <p>Bulma / Bootstrap comparison</p>
                        </div>
                    </a>

                    <a class="navbar-item" href="http://bulma.io/blog/">
                        More posts
                    </a>
                    <hr class="navbar-divider">
                    <div class="navbar-item">
                        <div class="navbar-content">
                            <div class="level is-mobile">
                                <div class="level-left">
                                    <div class="level-item">
                                        <strong>Stay up to date!</strong>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <a class="button bd-is-rss is-small" href="http://bulma.io/atom.xml">
                      <span class="icon is-small">
                        <i class="fa fa-rss"></i>
                      </span>
                                            <span>Subscribe</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-link">
                    Menu 03
                </div>
                <div id="moreDropdown" class="navbar-dropdown is-boxed">
                    <a class="navbar-item " href="http://bulma.io/made-with-bulma/">
                        <p>
                            <strong>Made with Bulma</strong>
                            <br>
                            <small>The official community badge</small>
                        </p>
                    </a>
                    <a class="navbar-item " href="http://bulma.io/extensions/">
                        <p>
                            <strong>Extensions</strong>
                            <br>
                            <small>Side projects to enhance Bulma</small>
                        </p>
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-link">
                    {{ Auth.user().fullname }} &nbsp;&nbsp;<i class="icon fa fa-user-circle-o"></i>
                    </dia>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item " href="/documentation/overview/start/">
                            <i class="icon fa fa-user-circle-o fa-fw"></i> Perfil
                        </a>
                        <a class="navbar-item " href="http://bulma.io/documentation/modifiers/syntax/">
                            <i class="icon fa fa-key fa-fw"></i> Senha
                        </a>
                        <hr class="navbar-divider">
                        <div class="navbar-item has-text-centered">
                            <div >
                                <a class="navbar-item " href="{{ route('auth.logout') }}">
                                    <i class="icon fa fa-power-off fa-fw"></i> Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</nav>
<br />
{% endif %}
{% block content %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>